<form method="post">
    <label>Email:</label>
    <input type="text" class="form-control" name="email" />
    <br/>
    <label>Password</label>
    <input type="text" class="form-control" name="password"/>
    <br />
    <button class="text-center" type="submit">
        LogIn
    </button>
</form>
<h2 style="color:rebeccapurple">
    @ViewData["MENSAJE"]
</h2>