@if (Context.User.Identity.IsAuthenticated == false)
{
    <li class="nav-item">
        <a class="nav-link"
           asp-controller="Libros"
           asp-action="PerfilUsuario">lOG IN</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link"
           asp-controller="Manage"
           asp-action="LogOut">
            Cerrar Sesion
            <span style="color:blue">
                @Context.User.Identity.Name
            </span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" 
           asp-controller="Libros" 
           asp-action="PerfilUsuario">
         Perfil
        </a>
    </li>
}